<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<h3> 出版的书籍</h3>

<% @author.books.each do |book| %>
  <%= link_to book.title , book_path(:id => book.id) %> <br/>
  <%# link_to book.title , book %>
<% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
