<%= form_for(@book) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :public_at %><br>
    <%= f.text_field :public_at %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br>
    <%= f.text_area :introduction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
